{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        {% if app.request.get('_route') == 'task_list_done' %}
            <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
        {% elseif app.request.get('_route') == 'task_list' %}
            <a href="{{ path('task_list_done') }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
        {% endif %}
        <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    </div>
    
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </h4>
                    <h4 class="text-primary">
                        {% if is_granted('ROLE_USER', task) %}
                            <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                        {% else %}
                            {{ task.title }}
                        {% endif %}
                    </h4>
                    <p>{{ task.content }}</p>
                </div>
                <div>
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm pull-right">
                            {% if not task.isDone %}
                                Marquer comme faite
                            {% else %}
                                Marquer non terminée
                            {% endif %}
                        </button>
                    </form>
                    {% if is_granted('ROLE_USER', task) %}
                    <form action="{{ path('task_edit', {'id' : task.id }) }}">
                        <button class="btn btn-danger btn-sm pull-right">Editer</button>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" style="margin-top:5px;" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}